<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    
    <form id="att" action="go.html" method="POST">
        <input v-model="email" 
               placeholder="Email" 
               type="text">
        <br>
        <input v-model="firstName"
                placeholder="First Name"
                type="text">
        <br>
        <input v-model="lastName"
                placeholder="Last Name"
                type="text">
        <br>
        <input v-model="phone"
                placeholder="Phone"
                type="text">
        <br>

        <div v-for="(item, i) in items">
            <p v-on:dblclick="QA">Гость {{ i + 1 }}</p>
            <input type="text">
        </div>
        <p> {{ items }} {{ firstName }} {{ lastName }}  {{ phone }}</p>
        <input type="button"
                v-on:click="addQuest()"
                value="add quest">
        <button>send</button>
    </form>

    <script>
        var vm = new Vue ({
            el: "#att",
            data: {
                items: [],
                email: "",
                firstName: "",     
                lastName: "",
                phone: "",
                number: 1
            },

            methods: {
                addQuest() {
                   this.items.push("");
                   console.log(this.items);
                },

                QA() {
                     this.items.pop();
                   console.log(this.items);
                }
            }
        })
    </script>
</body>
</html>