<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> 
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <div v-for="item in info">
            <label>{{ item.name }}</label>
            <span><i class="fa fa-check" aria-hidden="true"></i></span>
            <input type="text" v-model="item.value">
            {{item.value}}
        </div>
    </div>




    <script>
        var vm = new Vue({
            el: "#app",
            
            data: {
                info:[
                    {
                        name: 'Name',
                        value: "",
                        pattern: /^[a-zA-Z ]{2,30}$/
                    },
                    {
                        name: "Phone",
                        value: "",
                        pattern: /^[0-9]{7,14}$/
                    },
                    {
                        name: "Email",
                        value: "",
                        pattern: /.+/
                    },
                    {
                        name: "Some Text",
                        value: "",
                        pattern: /.+/
                    }
                ]
            },

            methods: {
                    
            },
            
            
        })
    
    
    
    </script>
</body>
</html>