<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> 
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <form id="app">
        <div class="container progress">
            <div class=" progress-bar"></div> 
        </div>       
        <div class="container form-group ">
            <label for="name">Name</label>
            <i class="fa fa-times" style="color:red" aria-hidden="true"></i>
            <i class="fa fa-check" style="color:green" aria-hidden="true"></i>
            <input v-model="name" class="form-control" type="text" name="name">
            <label for="phone">Phone</label>
            <input v-model="phone" class="form-control" type="text" name="phone">
            <label for="email">Email</label>
            <input class="form-control" type="text" name="email">
            <label for="some">Some</label>
            <input class="form-control" type="text" name="some">
        </div>
    </form>



    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                name: "",
                phone: "",
                email: "",
                some: "",
            }
        })
    
    
    
    </script>
</body>
</html>